<div class="main">
  <video
    autoplay="true"
    loop
    muted
    *ngIf="!displayUserDetails"
    class="bannervdo"
    [ngStyle]="{ opacity: loginSuccessfulAndShowForm ? '0.4' : '1' }"
  >
    <source src="../assets/DigitalChameleon Banner.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <div>
    <h1 class="overlayText" *ngIf="!loginSuccessfulAndShowForm && !displayUserDetails">
      Making Digital Experience Easy to Use & Enjoyable to Create
    </h1>
  </div>

  <div class="container" *ngIf="!loginSuccessfulAndShowForm && !displayUserDetails">
    <div class="screen">
      <div class="screen__content">
        <div style="display: block;">
          <img src="../assets/dCIcon.png" height="50em" width="50em"/>
          <h1 class="heading">Sign In</h1>
        </div>
        <form class="login" [formGroup]="loginForm">
          <div class="login__field">
            <input
              type="text"
              class="login__input"
              placeholder="Username"
              pInputText
              formControlName="username"
            />
          </div>
          <div class="login__field">
            <i class=""></i>
            <input
              type="password"
              class="login__input"
              placeholder="Password"
              pInputText
              formControlName="pass"
            />
          </div>
          <button class="login__submit" (click)="submit()" pButton>
            <span class="button__text">Login </span>
          </button>
        </form>
        <span
          *ngIf="showError"
          style="color: red; font-weight: bold; padding: 30px"
        >
          Incorrect Username/Password</span
        >
      </div>
    </div>
  </div>
</div>

<app-form
  [loginSuccessfulAndShowForm]="loginSuccessfulAndShowForm"
  [dialogWidth]="dialogWidth"
  (close)="onClose($event)"
>
</app-form>

<p-toast></p-toast>

<div class='card-class' *ngIf="displayUserDetails">
  <p-card [title]="form.value.email">
    User created with details: <br /><br />
    <div>
      Email: {{ form.value.email }} <br />
      DOB: {{ form.value.dob | date }}<br />
      Gender: {{ form.value.gender }}<br />
      Contact: {{ form.value.contact }}<br />
    </div>
  </p-card>
  <p-button label="Logout" (onClick)="logout()"></p-button>
</div>
<br /><br /><br />
<div style="text-align: right; top: 100%" *ngIf="displayUserDetails"></div>
